/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Crimson Pro', sans-serif;
    background-color: #f5e1ce;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    padding: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Botões de navegação */
nav {
    margin-top: 80px; /* Aumentando a margem superior */
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn-slice {
    padding: 1.2rem 2.5rem;
    border: 2px solid #854f2c;
    border-radius: 0.5rem;
    color: #854f2c;
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.btn-slice:before {
    content: '';
    height: 2px;
    width: 0;
    background-color: #854f2c;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.btn-slice:hover:before {
    width: 100%;
}

/* Formulário de cadastro */
.cadastro-aluno {
    margin-top: 15px;
}

form {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-bottom: 20px;
    color: #854f2c;
    font-weight: bold; /* Adicionando negrito */
}

form p {
    margin-bottom: 10px;
}

form p label {
    font-weight: bold; /* Adicionando negrito */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.section {
    margin-bottom: 20px;
}

.section strong {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.section label {
    display: block;
    margin-bottom: 5px;
}

.section input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    width: 100%;
    background-color: #854f2c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #6b3d1d;
}
