* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5e1ce; /* Cor de fundo */
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: rgba(0,0,0,0.6);
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.footer {
    background-color: #996b42; /* Cor do rodapé */
    padding: 20px 0;
    color: #fff; /* Cor do texto do rodapé */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Botões de navegação estilizados */
.button-nav {
    background: #996b42; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    font-weight: 100;
    position: relative;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: color 0.4s;
    text-decoration: none; /* Remover sublinhado dos links */
    display: inline-block; /* Garantir que os botões fiquem na mesma linha */
}

.button-nav svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.button-nav rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.button-nav:hover {
    background: rgba(153, 107, 66, 0); /* Cor de fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
    font-weight: 900;
    letter-spacing: 1px;
}

.button-nav:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}



